<h3>Recently updated packages:</h3>

<p>
    <%for(var i = 0, len = updates.length, update; i < len; i++) {
        update = updates[i];%>
        <p>
        * <a href="<%= update.homepage %>" target="_blank" style="text-decoration:none; font-weight: bold"><%= update.name %></a> [<%= update.prevVersion %> =&gt; <%= update.version %>] - <%= update.description %>
        </p>
    <%}%>
</p>

<br>
<p style="color:#999">
    To remove alerts just run this command: <code>npm-onupdate rm packageName</code>
</p>

<p><b>Thank you for using <%=title%>!</b></p>